@model Privont.Models.SMSSetting

@{
    /**/

    ViewBag.Title = "SMS Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="container-full">
        <!-- Content Header (Page header) -->
        <!-- Main content -->
        <section class="content">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <!-- CK Editor -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="box">
                            <div class="box-header">
                                <div class="row">

                                    <div class="col-md-6">
                                        <h4 class="header-title">SMS Settings</h4>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="submit" value="Save" class="btn btn-success pull-right" />
                                    </div>
                                </div>
                            </div>

                            <div class="box-body">
                                <div class="form-horizontal">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <br>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label>SMS format (Lead Subscribe)</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label>Subscribe Key</label>
                                                    @Html.EditorFor(model => model.SMSSubKey, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="row ">
                                                <div class="col-md-8" style="padding-left:0px;">
                                                    <small class="pull-right">(Message Fields)</small>
                                                </div>
                                                <div class="col-md-2 pull-right">
                                                    <Select class="form-control" id="cmbSub">
                                                        <option value="0">Select Field</option>
                                                        <option value="[Name]">Name</option>
                                                        <option value="[SubKey]">SubKey</option>
                                                    </Select>
                                                </div>
                                                <div class="col-md-2 pull-right" style="padding-left:0px;margin-bottom:10px">
                                                    <input type="button" class="btn-sm btn-primary" value="Add Field" id="btnAddSaleFields" onclick="AddFieldtoSub()">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    @Html.TextAreaFor(model => model.SMSDetailSub, new { @class = "form-control", @style = "width: 100%; height: 100px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" })
                                                    @Html.ValidationMessageFor(model => model.SMSDetailSub, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="form-horizontal">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <br>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label>SMS format (Lead Invitation)</label>
                                                </div>
                                            </div>
                                            <br />
                                            <div class="row ">
                                                <div class="col-md-8" style="padding-left:0px;">
                                                    <small class="pull-right">(Message Fields)</small>
                                                </div>
                                                <div class="col-md-2 pull-right">
                                                    <Select class="form-control" id="cmbsale">
                                                        <option value="0">Select Field</option>
                                                        <option value="[Name]">Name</option>
                                                        <option value="[Link]">Link</option>
                                                    </Select>
                                                </div>
                                                <div class="col-md-2 pull-right" style="padding-left:0px;margin-bottom:10px">
                                                    <input type="button" class="btn-sm btn-primary" value="Add Field" id="btnAddSaleFields" onclick="AddFieldtoSale()">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    @Html.TextAreaFor(model => model.SMSDetail, new { @class = "form-control", @style = "width: 100%; height: 100px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" })
                                                    @Html.ValidationMessageFor(model => model.SMSDetail, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="form-horizontal">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <br>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label>SMS format For Invitation</label>
                                                </div>
                                            </div>
                                            <div class="row ">
                                                <div class="col-md-8" style="padding-left:0px;">
                                                    <small class="pull-right">(Message Fields)</small>
                                                </div>
                                                <div class="col-md-2 pull-right">
                                                    <Select class="form-control" id="cmbsaleInvite">
                                                        <option value="0">Select Field</option>
                                                        <option value="[YourName]">YourName</option>
                                                        <option value="[Name]">Name</option>
                                                        <option value="[Link]">Link</option>
                                                    </Select>
                                                </div>
                                                <div class="col-md-2 pull-right" style="padding-left:0px;margin-bottom:10px">
                                                    <input type="button" class="btn-sm btn-primary" value="Add Field" id="btnAddSaleFieldsInvite" onclick="AddFieldtoSaleInvite()">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    @Html.TextAreaFor(model => model.SMSDetailInvite, new { @class = "form-control", @style = "width: 100%; height: 100px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" })
                                                    @Html.ValidationMessageFor(model => model.SMSDetailInvite, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            </section>
        </div>
    </div>
            <script>
                $(document).ready(function () {
                });
                function AddFieldtoSale() {
                    if ($("#cmbsale").val() == 0) {
                        return;
                    }
                    else {
                        var currenttext = $("#SMSDetail").val();
                        currenttext = currenttext + $("#cmbsale").val();
                        $("#SMSDetail").val(currenttext);
                    }
                }
                function AddFieldtoSaleInvite() {
                    if ($("#cmbsaleInvite").val() == 0) {
                        return;
                    }
                    else {
                        var currenttext = $("#SMSDetailInvite").val();
                        currenttext = currenttext + $("#cmbsaleInvite").val();
                        $("#SMSDetailInvite").val(currenttext);
                    }
                }
            </script>
