
@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 1;
}

<div class="box">
    <div class="box-header with-border">
        <h4 class="box-title">Reports</h4>
      
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-4">
                <div class="d-flex align-items-center mb-30">
                    <div class="me-15 bg-primary-light h-50 w-50 l-h-60 rounded text-center">
                        <span class="icon-Library fs-24"><span class="path1"></span><span class="path2"></span></span>
                    </div>
                    <div class="d-flex flex-column fw-500">
                        <a href="/Reports/GetRealEstateInfo" class="text-dark hover-primary mb-1 fs-16">@(i++). Real Estate Agents</a>
                        <span class="text-fade">(Reports)</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex align-items-center mb-30">
                    <div class="me-15 bg-success-light h-50 w-50 l-h-60 rounded text-center">
                        <span class="icon-Group-chat fs-24"><span class="path1"></span><span class="path2"></span></span>
                    </div>
                    <div class="d-flex flex-column fw-500">
                        <a href="/Reports/GetLendersInfo" class="text-dark hover-primary mb-1 fs-16">@(i++). Lenders Information</a>
                        <span class="text-fade">(Reports)</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex align-items-center mb-30">
                    <div class="me-15 bg-info h-50 w-50 l-h-60 rounded text-center">
                        <span class="icon-Attachment fs-24"><span class="path1"></span><span class="path2"></span></span>
                    </div>
                    <div class="d-flex flex-column fw-500">
                        <a href="/Reports/GetLendersInfo?LenderType=1" class="text-dark hover-primary mb-1 fs-16">@(i++). Favourite Lender</a>
                        <span class="text-fade">(Reports)</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex align-items-center mb-30">
                    <div class="me-15 bg-danger-light h-50 w-50 l-h-60 rounded text-center">
                        <span class="icon-Write fs-24"><span class="path1"></span><span class="path2"></span></span>
                    </div>
                    <div class="d-flex flex-column fw-500">
                        <a href="/Reports/GetLeadsInfo" class="text-dark hover-primary mb-1 fs-16">@(i++). Leads Information</a>
                        <span class="text-fade">(Reports)</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex align-items-center mb-30">
                    <div class="me-15 bg-warning-light h-50 w-50 l-h-60 rounded text-center">
                        <span class="icon-Ladder fs-24"><span class="path1"></span><span class="path2"></span></span>
                    </div>
                    <div class="d-flex flex-column fw-500">
                        <a href="/Reports/GetVendorInfo" class="text-dark hover-primary mb-1 fs-16">@(i++). Vendor Information</a>
                        <span class="text-fade">(Reports)</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex align-items-center mb-30">
                    <div class="me-15 bg-primary-light h-50 w-50 l-h-60 rounded text-center">
                        <span class="icon-Mail fs-24"><span class="path1"></span><span class="path2"></span></span>
                    </div>
                    <div class="d-flex flex-column fw-500">
                        <a href="#" class="text-dark hover-primary mb-1 fs-16">@(i++). Contact Message</a>
                        <span class="text-fade">(Reports)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

